@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

 .main-container{
	 background-color: lightgray;
	 width: 100%;
	 margin-top: 4rem;
	 display: flex;
 }

 .welcome{
	 width: 50%;
	 margin: 1rem;
 }

 .calendar{
	border-color: chocolate;
	margin: 1rem;
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
	width: 50%;
	list-style-type: none;
	padding: 1rem;
 }

 .navbar-red{
	background-color: darkred;
 }

 .carousel-item img{
	 background-size: cover;
	 background-position: center;
	 width: auto;
	 height: auto;
 }
