@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.cont{
	margin: 2rem 5rem;
	text-align: center;
}

.dropdown-menu{
	min-width: 200px;
	left: -60px;
	padding-left: 1rem;
}

.form-group.form-login{
	width: 90%;
}

 .main-container{
	 background-color: lightgray;
	 width: 100%;
	 padding: 4rem 3rem 1rem;
 }

 .description{
 	margin: 2rem 0;
 }

 .welcome{
	 float: left;
	 margin: 1rem;
 }

 .row{
 	margin-right: 0;
 	margin-left: 0;
 }

 .calendarCont{
 	float: right;
 	margin: 1rem;
 }

 .calendar{
	border-color: chocolate;
	margin: 1rem;
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
	width: 95%;
	list-style-type: none;
	padding: 1rem;
 }

 .navbar-red{
	background-color: darkred;
 }

 .carousel-item img{
	 background-size: cover;
	 background-position: center;
	 width: auto;
	 height: auto;
 }

 #map_canvas{
        height: 400px;
        width: 100%;
        margin-top: 1rem;
       }

.littleMap{
	position: absolute;
	right: 3rem;
	width: 25%;
}


.form-group{
	margin-right: 1rem;
	width: 70%;
}

.tab-pane{
	margin-top: 1rem;
}

.nav-link{
	color: #495056;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color: #495057;
    background-color: #b8bcbf;
    border-color: #b8bcbf #b8bcbf #b8bcbf;
}

.card-columns{
	margin: 3rem;
}

.card-body.buttons{
	position: relative;
}

.card-deck .card{
	min-width: 300px;
	max-width: 300px;
	margin: 1rem;
}


