@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.fade-slide-left {
  animation: fade-slide-left .8s ease-out forwards;
}

.main-container{
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 100px;
  background-color: white; 
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("/img/background2.png");
  min-height: 100vh;
  background-position: center;
  background-size: cover;

  &--index{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform-style: preserve-3d;
    perspective: 100px;
  }


  &:before{
    animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    content: "";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;

  background: -moz-linear-gradient(top, rgba(255,255,255,1) 6%, rgba(255,255,255,0.29) 73%, rgba(255,255,255,0.02) 98%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 6%,rgba(255,255,255,0.29) 73%,rgba(255,255,255,0.02) 98%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 6%,rgba(255,255,255,0.29) 73%,rgba(255,255,255,0.02) 98%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

  }

  h1{
    color: white;
    animation-delay: .4s;
    font-size: 3rem;
  }

  .reinventadas{
    font-family: 'Covered By Your Grace', cursive;
  }

  .search{
    position: relative;

    .form-control{
      font-size: 1.5rem;
      width: 85%;

      &::placeholder{
        color: black;
      }
    }

    input{
      text-indent: 30px;
      background-color: rgba(0, 0, 0, .2);
      border: 0;
      font-style: italic;

      &:focus{
        background-color: rgba(255, 255, 255, 1);
      }
    }

      .searchIcon{
        color: lightgray;
        position: absolute;
        top: 14px;
        left: 25px;
        font-size: 22px;
      }

  }

  .searchBar{
    margin-right: -.5rem;
    margin-top: 1rem;
    animation-delay: .8s;
  }


  .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
    border-radius: .25rem;
  }

  [type=reset], [type=submit], button, html [type=button]{
    -webkit-appearance: caret;
  }
}



.navbar{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
  color: black;
  animation-delay: .8s;
  display: flex;
}

.navbar-expand-md, .navbar-nav, .dropdown-menu-right{
  right: auto;
  text-align: center;
  width: 100%;
}

.navbar-nav, .navbar-expand-md{
  display: flex;
  justify-content: flex-end;
}

.cont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  .firstBlock{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .bg{
      position: absolute;
      z-index: -2;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .4;
      width: 100%;
      height: 100%;
    }

    .imageData,
    .descMap{
      display: flex;
      margin-top: 2rem;
      justify-content: space-between;

      @media(max-width: 1100px){
        flex-direction: column;

        #map_canvas{
          margin: 0;
          width: 100%;
          flex: 0 1 400px;
        }
      }

      .description{
        margin: 2rem;
        color: black;
        font-weight: bold;
        font-size: 1.5rem;
        flex: 1;
      }
    }

    .row{
      display: flex;
      position: relative;
      margin-top: 10rem;
      opacity: 1;
      justify-content: flex-end;
      margin-right: 0;

      &.column{
        flex: 50%;
      }

      .prizes{
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}


#map_canvas{
  height: 400px;
  z-index: 5;
  flex: 0 1 700px;
  position: relative;
  overflow: hidden;


  &.ruta{
    margin: 2rem;
  }
}

.register{
  margin: 2rem auto;
}

.bg-row{
  position: absolute;
  z-index: -1;
  background-color: white;
  opacity: .4;
  padding-top: 10rem;
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

.contRes{
  display: block;
  position: relative;

  li{
    list-style: none;

    a{
      text-decoration: underline;
    }
  }
}

h4{
  color: #505050;
}

.rowForm{
  display: flex;
  justify-content: flex-start;

}

.form-control{
  font-size: 1rem;
  width: auto;
  margin: 1rem;

  label{
    margin-right: 1rem;
  }

  #nombre{
    width: 300px;
  }

  #inicio,#fin{
    width: 150px;
  }

  #description{
    display: block;
  }
}

.rowText, .rowData{
  text-align: right;
  border-radius: 40px;
  right: 0;

  @media(max-width: 1240px){
    width: auto;
  }
}

.rowData{
  margin-top: 2rem;
}

.title{
  position: relative;
  margin-right: 3rem;
  width: 50%;
  text-align: right;

  &.resultsGroup{
    margin-left: 3rem;
    color: #505050;
    text-align: left;
  }

  &.titleResults{
    margin: 1rem 0;
    text-align: left;
    h1{
      margin-left: 1rem;
      color: black;
    }
  }

  a{
    text-decoration: none;
    color: #505050;
  }

  h1{
    font-size: 3rem;
  }
}

.resultsValues{
  font-size: 1.5rem;
  margin-left: 1rem;
  list-style: none;
}

.greyBack{
  background-color: lightgrey;
  border-radius: 5px;
  text-align: left;
  margin: .5rem;
  width: 25%;
  max-width: 90px;
  top: 0;
  left: 30rem;

  &:last-child{
    margin-right: 0;
  }

  &--silver{
    top: 1.5rem;
  }

  &--bronze{
    top: 3rem;
  }


  .fas{
    margin-left: .5rem;
  }
}

.fa-angle-right{
  margin-right: 1rem;
}

.datosBar{
  text-align: right;
  margin-right: 1rem;
}

.nav-link{
  cursor: pointer;
}

.logoimg{
  text-align: center;
  max-width: 300px;
  margin: 2rem 0;
}

img.barView{
  z-index: -1;
  margin: 0;
  border-radius: 35px;
  max-width: none;
  max-height: 400px;
  flex: 1;
  object-fit: cover;
}

img.fullimg{
  width: 100%;
  max-height: 400px;
}

.loggedNav{
  width: 100%;
}

.littleMap{
  position: absolute;
  right: 3rem;
  width: 25%;
}

.tab-pane{
  margin-top: 1rem;
}

#myTab{
  margin-top: 1rem;
}

.nav-item{
  text-align: right;
}

.card-columns{
  margin: 3rem;
}

.card-cont{
  background: lightgrey;
  padding: 1.5rem;
  border: 0;
  border-radius: 0;


  .card-img{
    overflow: hidden;

    .card-img-top{
      max-height: 300px;
      object-fit: cover;
      object-position: bottom;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      transition: transform .5s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

.statsHome{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 5rem;
  font-size: 20px;
  z-index: 1;

  .odometer{
    font-size: 50px;
  }

  a{
    color: white;
  }
}

.card-body {
  padding: 1rem 0 0;

  &.buttons {
    position: relative;
  }
}

.fa-angle-left{
  font-size: 50px;
  top: 0;
  position: absolute;
  margin: 3rem 1rem;
  z-index: 999999;

}

.card{
  border: 0;
  text-align: center;
  width: 100%;

  a{
    text-decoration: none;
    color: black;
  }
}

.card-deck .card{
  min-width: 300px;
  max-width: 300px;
  margin: 1rem;
}

.filtros{
  font-weight: 900;
  text-align: center;
  margin-top: 4rem;

  span{
    margin: 0 1rem;
    cursor: pointer;

    &.active{
      color: red;
    }
  }
}

.etiquetas{
  display: inline;
  font-size: 11px;
}

.cardSeparator{
  background: red;
  height: 1px;
  margin-left: 38%;
  width: 25%;
}

a{
  color: black;
}

.modal-dialog{
  z-index: 99;

  .form-group{
    align-items: center;
    margin: 0 1rem;
  }

  .card-body{
    padding: 0;
  }
}

.results{
  margin-top: 10rem;
  padding-bottom: 2rem;
  position: relative;
}

.contBar{
  .firstBlock{
    .bg{
      position: absolute;
      z-index: -1;
      background: url('/img/background2.png') center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .4;
      width: 100%;
      height: 100%;
    }
  }
}

.marquee{
  color: black;
  width: 300px;
  height: 200px;
  z-index: 1;
  animation-delay: 1.2s;

  a{
    text-decoration: none;
    color: black;
  }
}

// ANIMATIONS

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    opacity: .5;
    transform: none;
  }
}

.cont-config{
  position: relative;
  margin-top: 10rem;

  .nav-pills{
    margin-left: 1rem;
  }

  .nav-item{
    width: auto;
  }

  .title h1{
    margin-left: 1rem;
    text-align: left;
    color: black;
  }

  .form-control{
    background-color: rgba(255,255,255,.5);
    border: none;

    #description{
      width: 100%;
      height: 100px;
    }

    &.submit{
      background-color: transparent;
      margin-left: 0;
    }

  }
}

.cont-config .tab-content #solicitudes{
  height: auto;
}

.card-full{
  margin-top: 3rem;
}

.row--cards{
  margin: 0rem 1rem;
  padding-bottom: 2rem;
  position: absolute;
  top: 50rem;
}

.main-container--config{
  height: auto;
  min-height: 700px;
}

.bgbar{
  height: 100vh;
}

.form-control label{
  display: block;
  font-weight: bold;
}

textarea#horarios{
  width: 100%;
  height: 100px;
}


input#tapadesc{
  width: 100%;
}

input#tapanom{
  width: 50%;
}


.submit{
  background-color: transparent;
  margin-left: 0;
}

.navbar.navbar-default.navbar-expand-md.fixed-top{
  position: relative;
}

.fixed-top{
  left: unset;
}

.noBares{
  margin-top: 2rem;
}
