@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;

}

.main-container{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 100px;
  background-color: white; 
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("/img/background2.png");
  height: 100vh;
  background-position: center;
  background-size: cover;


  &:before{
    animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    content: "";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;

  background: -moz-linear-gradient(top, rgba(255,255,255,1) 6%, rgba(255,255,255,0.29) 73%, rgba(255,255,255,0.02) 98%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 6%,rgba(255,255,255,0.29) 73%,rgba(255,255,255,0.02) 98%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 6%,rgba(255,255,255,0.29) 73%,rgba(255,255,255,0.02) 98%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

  }

  &:after{

  }

  h1{
    color: white;
    animation-delay: .4s;
  }

  .reinventadas{
    font-family: 'Covered By Your Grace', cursive;
  }

  .search{
    position: relative;

    input{
      text-indent: 30px;
    }

      .searchIcon{
        font-size: 1rem;
        color: lightgray;
        position: absolute;
        top: 11px;
        left: 9px;
        font-size: 17px;
      }

  }

  .searchBar{
    width: 50%;
    max-width: 240px;
    margin-top: 1rem;
    animation-delay: .8s;
  }


  .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
    border-radius: .25rem;
  }

  [type=reset], [type=submit], button, html [type=button]{
    -webkit-appearance: caret;
  }
}



.navbar{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
  color: black;
  animation-delay: 2s;
  display: flex;
}


.cont{

  text-align: center;
}

.logoimg{
  text-align: center;
  max-width: 300px;
  margin: 2rem 0;
}

img.tapaimg{
  margin: 2rem 0;
  text-align: center;
  width: 49%;
  max-width: 600px;
}

.description{
  margin: 2rem 0;
}

.loggedNav{
  width: 100%;
}

.notLoggedNav{
  width: 36%;
  max-width: 220px;
}

#map_canvas{
  height: 400px;
  width: 100%;
  margin-top: 1rem;
}

.littleMap{
  position: absolute;
  right: 3rem;
  width: 25%;
}

.tab-pane{
  margin-top: 1rem;
}

#myTab{
  margin-top: 1rem;
}

.nav-item{
  width: 100%;
  text-align: left;
}

.card-columns{
  margin: 3rem;
}

.card-cont{
  background: darkgrey;
  padding: 1.5rem;
  border: 0;
  border-radius: 0;
}

.card-body.buttons{
  position: relative;
}

.card{
  border: 0;
}

.card-deck .card{
  min-width: 300px;
  max-width: 300px;
  margin: 1rem;
}

.card-img-top{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filtros{
  font-weight: 900;
}

ul.etiquetas li{
  display: inline;
  font-size: 11px;
}

.cardSeparator{
  background: red;
  height: 1px;
  margin: 0;
}

a{
  color: black;
}




@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
